{% extends 'user/user.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<form method="POST" class="edit-team">
  <div class="form-fields">
    {{ form.csrf_token }}
    {{ macro.with_errors(form.name) }}
    {{ macro.with_errors(form.series) }}
    {{ macro.with_errors(form.mem1) }}
    {{ macro.with_errors(form.mem2) }}
    {{ macro.with_errors(form.mem3) }}
    {{ macro.with_errors(form.mem4) }}
    {{ macro.with_errors(form.mem5) }}
    <div><input type="submit" value="Tallenna"></div> 
  </div>
</form>
<table>
  <tr><th>Aika</th><th>Rasti</th></tr>
  {% for cp in team_cps %}
  <tr><td>{{ cp['aika'] }}</td><td>{{ cp['koodi'] }}</td></tr>
  {% endfor %}
</table>
{% endblock content %}