<!DOCTYPE html>
<html lang="{% block language %}fi{% endblock language %}">

<head>{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">{% endblock styles %}
  {% block scripts %}{% endblock scripts %}
  <title>{% block title %}VT3{% endblock title %}</title>
  {% endblock head %}</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

</html>