{% extends 'admin/admin.html' %}
{% import 'macros.html' as macro %}

{% block content %}
{% if series_data %}
<ul>
  {% for team in series_data %}
  <li><a href="{{ url_for('admin.team', race_name=race_name, team_name=team['nimi'], series_name=series_name) }}">{{ team['nimi'] }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<form method="POST" class="edit-team">
  <div class="form-header"><h3>Lisää joukkue</h3></div>
  <div class="form-fields">
    {{ form.csrf_token }}
    {{ macro.with_errors(form.name) }}
    {{ macro.with_errors(form.mem1) }}
    {{ macro.with_errors(form.mem2) }}
    {{ macro.with_errors(form.mem3) }}
    {{ macro.with_errors(form.mem4) }}
    {{ macro.with_errors(form.mem5) }}
    <div><input type="submit" value="Tallenna"></div> 
  </div>
</form>
{% endblock content %}